header {
  background-color: #91b7e2;
  color: rgb(252, 169, 169);
  padding: 20px;
}
header a {
  text-decoration-color: white;
}
li {
  border: 1px solid darkblue;
 display: inline-block;
 margin: 5px;
 padding: 10px;
}
img{
  max-width: 200px;
  border-radius: 10px;
}

.image-wrapper p, .image-wrapper img{
  display: inline-block;
}
.image-wrapper img {
  width: 5o%;
}